
.wishlist-item{
    background-color: #f2f2f2;
}
.cart-save-for-later {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.item__list .item__list--item .item__action
{
    display:table-cell;
    padding: 0 0px;
    vertical-align: middle;
}
@media (max-width: 1023px) {
 .item__list .item__action .saveforlater__action {
    display: block!important;
  }
  .item__list .item__list--item .item__action{
    display: block;
    padding: 0 0px;
    vertical-align: middle;
   }
}
@media (min-width: 1024px) {
 .item__list .item__action .saveforlater__action {
    display: inline!important;
    padding-right:20px
  }
}